:root {
  --primary-color: #462cb2;
  --main-text-color: #272044;
}
.text-center {
  text-align: center;
}
.margin-none {
  margin: 0;
}

.opaque-subtitle {
  font-size: 16px;
  opacity: 0.3;
}
.opaque-paragraph {
  font-size: 16px;
  opacity: 0.7;
}

.grid-parent {
  display: grid;
  gap: 30px;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.large-grid-gap {
  gap: 64px;
}

body {
  font-family: poppins;
  color: var(--main-text-color);
}
header {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.4), rgba(39, 32, 68, 0.6)),
    url("/images/lisbon-hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  color: white;
}

header p {
  font-size: 24px;
  font-weight: bold;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
header .button {
  padding: 12px 32px;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  border: none;
}
main {
  background-color: white;
  padding: 80px 50px;
}
main img {
  width: 100%;
}
main h3 {
  font-size: 40px;
}
article {
  background-color: #f8f8f8;
  text-align: center;
  padding: 80px 40px;
}
.sections-subtitle {
  font-size: 48px;
  margin-top: 8px;
}
article h4 {
  font-size: 24px;
}
article h5 {
  font-size: 13px;
  margin-bottom: 8px;
}
.card-container {
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 370px;
  margin: 0 auto;
  box-shadow: 20px 20px 40px #c6c6c633;
  text-align: left;
}
.card-visuals {
  display: grid;
}
.cafes-images,
.embed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  aspect-ratio: 1/1;
}
.card-info {
  padding-inline: 32px;
  padding-top: 24px;
}
.cafe-button {
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 24px;
  border-radius: 8px;
}
section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
footer {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)),
    url("/images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 100px;
  line-height: 1.5;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
.footer-content,
footer a {
  font-size: 16px;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .grid-parent {
    padding: 10px;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .large-grid-gap {
    gap: 20px;
  }
  body {
    margin: 0;
  }
  header {
    background-position: 10% 50%;
  }

  header h1 {
    font-size: 36px;
  }
  header h2,
  p {
    font-size: 20px;
  }
  main {
    margin-inline: 20px;
  }
  main h3 {
    font-size: 27px;
  }
  article {
    padding: 15px;
  }
  .sections-subtitle {
    font-size: 32px;
  }
  .card-visuals .embed {
    display: none;
  }
  .card-visuals.grid-2 {
    grid-template-columns: 1fr;
  }
  .card-visuals img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .instagram-gallery {
    display: flex;
    overflow-x: auto;
    padding-bottom: 30px;
  }
  footer {
    text-align: center;
  }
}
