:root {
  --primary-color: #462cb2;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  gap: 20px;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

body {
  font-family: poppins;
}
header {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.4), rgba(39, 32, 68, 0.6)),
    url("/images/lisbon-hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  color: white;
}

header p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
header .button {
  padding: 12px 32px;
  text-decoration: none;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  color: black;
  letter-spacing: 3px;
  border: none;
}
main {
  background-color: white;
  padding: 80px 50px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
main h3,
section h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #272044;
  opacity: 30%;
}
main h4 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: #272044;
}
main p {
  font-size: 16px;
  color: #272044;
  opacity: 70%;
}
section {
  background-color: #f8f8f8;
  padding: 50px;
  color: #272044;
  text-align: center;
}
section .card-container {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section h3 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 5px;
}
section img {
  width: 100%;
  object-fit: cover;
}
section .grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
section .grid-card-visuals {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section .card-info-text {
  padding: 0 25px;
}
section iframe {
  aspect-ratio: 1/1;
}
section h4 {
  font-size: 24px;
}
section h5 {
  font-size: 13px;
  font-weight: bold;
}
section p {
  font-size: 16px;
  opacity: 70%;
}
.cafe-button {
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 35px;
}
footer {
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)),
    url("/images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 30px 100px;
  line-height: 1.5;
}
footer p {
  color: white;
  opacity: 60%;
}
footer a {
  color: white;
  opacity: 60%;
  text-decoration: none;
}
footer.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    background-position: 10% 50%;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 22px;
  }
  header p {
    font-size: 18px;
  }
  footer {
    background-image: none;
    background-color: rgba(39, 32, 68, 0.8);
  }
  main {
    padding: 20px 15px;
  }
  .grid {
    padding: 10px;
    grid-template-columns: 1fr;
  }
  section .grid-cards {
    grid-template-columns: 1fr;
  }
  footer.grid-3-columns {
    grid-template-columns: 1fr;
  }
}
